{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
    {{request.user.username}} | Detail
{% endblock title %}
{% block navbar %}
{% include "shared/navbar.html" %}
{% endblock navbar %}
{% block content %}


<h1>Perfil de {{ user.username }}</h1>
{% thumbnail user.profile.avatar "200x200" crop="center" format="PNG" as thumb %}
    <img src="{{thumb.url}}" alt="avatar">
{% endthumbnail %}
<p>Nombre completo: {{ user.first_name }} {{ user.last_name }}</p>
<p>Correo electrónico: {{ user.email }}</p>
<p>Rol: {{ user.profile.get_role_display }}</p>
<p>Biografía: {{ user.profile.bio }}</p>

<a href="{% url 'user:edit-profile'%}">Editar perfil</a>
{% endblock %}
