{% extends 'base.html' %}

{% block title %}Confirm{% endblock title %}

{% block navbar %}
{% include "shared/navbar.html" %}
{% endblock navbar %}

{% block content %}
<h1>Confrim Delete</h1>
<p>Are you sure yo want to delete "{{ object }}"?</p>

{% if messages %}
<div class="messages">
    {% for message in messages %}
        <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}


<form method="post">
    {% csrf_token %}
    <button type="submit">Delete</button>
    <a href="{% url 'subjects:lesson-detail' object.subject.code object.pk %}">Cancelar</a>
</form>
{% endblock %}
