{% extends 'base.html' %}
{% block title %} Calificaciones de {{ subject.name }} {% endblock title %}
{% block content %}
<h1>Calificaciones - {{ subject.name }}</h1>

<table>
    <thead>
        <tr>
            <th>Estudiante</th>
            <th>Calificación</th>
        </tr>
    </thead>
    <tbody>
        {% for enrollment in enrollments %}
            <tr>
                <td>{{ enrollment.student.username }}</td>
                <td>{{ enrollment.mark }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'subjects:edit-marks' subject.code %}">Editar Calificaciones</a>
<a href="{% url 'subjects:subject-detail' subject.code %}">Volver al módulo</a>

{% comment %} <a href="{% url 'edit_marks' %}">Editar Calificaciones</a>
<a href="{% url 'subject_detail' subject.pk %}">Volver al módulo</a> {% endcomment %}
{% endblock %}
