{% extends "base.html" %}
{% block title %}{{ subject.name }}{% endblock title %}

{% block navbar %}
{% include "shared/navbar.html" %}
{% endblock navbar %}

{% block content %}
<h1>{{ subject.name }} - {{ subject.code }}</h1>
<p>{{ subject.description }}</p>

{% if is_teacher %}
    <ul class="list-group mt-4">
        {% for lesson in lessons %}
            <li class="list-group-item">
                <p>{{ lesson.title }}</p>
                <a href="{% url 'subjects:lesson-detail' subject.code lesson.pk %}">Ver</a>
                <a href="{% url 'subjects:edit-lesson' lesson.pk %}">Editar</a>
                {% comment %} <a href="{% url 'subjects:edit-lesson' subject.code lesson.pk %}">Editar</a> {% endcomment %}
                <a href="{% url 'subjects:delete-lesson' lesson.pk %}">Borrar</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <ul class="list-group mt-4">
        {% for lesson in lessons %}
            <li class="list-group-item">
                <a href="{% url 'subjects:lesson-detail' subject.code lesson.pk %}">
                    {{ lesson.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock content %}


