{% extends "base.html" %}
{% block title %}{{ subject.name }}{% endblock title %}

{% block navbar %}
{% include "shared/navbar.html" %}
{% endblock navbar %}

{% block content %}
<h1>{{ subject.name }} - {{ subject.code }}</h1>
<p>{{ subject.description }}</p>

{% if messages %}
<div class="messages">
    {% for message in messages %}
        <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

{% if is_teacher %}
    <ul class="list-group mt-4">
        {% for lesson in lessons %}
            <p>{{ lesson.title }}</p>
            <a href="{% url 'subjects:lesson-detail' lesson.subject.code lesson.pk %}">Ver Detalle</a>
            <a href="{% url 'subjects:edit-lesson' lesson.subject.code lesson.pk %}">Editar</a>
            <a href="{% url 'subjects:delete-lesson' lesson.subject.code lesson.pk %}">Eliminar</a>
        {% endfor %}
        <a href="{% url 'subjects:add-lesson' subject.code %}">Añadir Lección</a>
        <a href="{% url 'subjects:mark-list' subject.code %}">Notas</a>
    </ul>
{% else %}
    <ul class="list-group mt-4">
        {% for lesson in lessons %}
            <li class="list-group-item">
                <a href="{% url 'subjects:lesson-detail' subject.code lesson.pk %}">
                    {{ lesson.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock content %}


