{% extends "base.html" %}
{% block title %}
    {{request.user.username}} | Subjects
{% endblock title %}
{% block navbar %}
{% include "shared/navbar.html" %}
{% endblock navbar %}
{% block content %}

<a href="{% url 'users:edit-profile'    %}"><button class="btn btn-primary">Editar Perfil</button></a>
<p>Welcome to Lumino. Nice to see you!</p>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="alert alert-info">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<ul class="list-group">
    {% for subject in subjects %}
        <li class="list-group-item"><a href="{% url 'subjects:subject-detail' subject.code %}">{{subject.code}} | {{ subject.name }}</a></li>
    {% endfor %}
</ul>
{% if not_teacher %}
    <a href="{% url 'subjects:enroll-subjects'%}"><button class="btn btn-primary">Enroll</button></a>
    <a href="{% url 'subjects:unenroll-subjects'%}"><button class="btn btn-danger">Unenroll</button></a>
{% endif %}



{% endblock content %}