{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {{request.user.username}} | Subjects
{% endblock title %}

{% block navbar %}
{% include "shared/navbar.html" %}
{% endblock navbar %}

{% block content %}
{% if show_certificate_link %}
    <a href="/subjects/certificate/"><button class="btn btn-primary">Certificate</button></a>
{% endif %}

{% if messages %}
<div class="messages">
    {% for message in messages %}
        <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<p>Welcome to Lumino. Nice to see you!</p>

<a href="{% url 'setlang' 'en' %}?next={{ request.path }}">🇺🇸</a>
<a href="{% url 'setlang' 'es' %}?next={{ request.path }}">🇪🇸</a>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="alert alert-info">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}




<p>{% translate "My subjects" %}</p>

<ul class="list-group">
    {% for subject in subjects %}
        <li class="list-group-item"><a href="{% url 'subjects:subject-detail' subject.code %}">{{subject.code}} | {{ subject.name }}</a></li>
    {% endfor %}
</ul>
{% if not_teacher %}
    <a href="{% url 'subjects:enroll-subjects'%}"><button class="btn btn-primary">Enroll</button></a>
    <a href="{% url 'subjects:unenroll-subjects'%}"><button class="btn btn-danger">Unenroll</button></a>
{% endif %}



{% endblock content %}